<div class="row fieldset">
  <div class="col-md-4">
    <label>Timeframe</label><br/>
    After <%= f.text_field :time_frame, size: 5 %> <%= f.select :time_select, options_for_select(["hours","days", "weeks", "months"], f.object.time_select) %>
  </div>
  <div class="col-md-4">
    <label>Action</label><br/>
    <%= f.select :action_needed, options_for_select(["Send email", "Send text", "Notify admin"], f.object.action_needed) %>
  </div>
  <div class="col-md-3">
    <label>Template</label><br/>
    <%= f.select :template_id, options_for_select(current_site.templates.all.collect{|t| [t.name, t.id]}, f.object.template_id) %>
  </div>
  <div class="col-md-1">
    <%= f.hidden_field :_destroy %>
    <%= link_to '#', class: "btn text-danger remove_fields" do %>
      <i class="fa fa-times"></i>
    <% end %>
  </div>
</div>
<br/>