<div class="page-content-wrap" id="contact_form_answers">
  <div class="row">
    <div class="col-md-12">
      <!-- START BASIC TABLE SAMPLE -->
      <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="panel-title"><span class="fa fa-archive"></span> <%= t('.lead_record', default: 'Lead Record') %></h3>
                </div>
                <div class="col-md-6 text-right">
                    <a class="btn btn-default" href="<%= url_for action: :leads %>"><%= t('.back_btn', default: 'Back') %></a>
                </div>
            </div>
        </div>
        <div class="panel-body">

					<dl>
						<% @op_fields.each do |default| %>
							<dt><%= default[:label] %>:</dt>
						  <dd>
						  	<% cid = default[:cid].to_sym %>
							  <% if default[:field_type] == "file" %>
							      <%# flatten is necessary for backwards compatibility: ["file"].flatten == [["file]].flatten %>
							      <% [@value[:fields][cid]].flatten.each do |file| %>
							          <%= link_to file.split('/').last, file, target: '_blank' %><br>
							      <% end %>
							  <% elsif default[:field_type] == "radio" || default[:field_type] == "checkboxes" %>
							      <%= @value[:fields][cid].map { |f| f.to_s.translate }.join(', ') if @value[:fields][cid].present? %></td>
							  <% else %>
							      <%= @value[:fields][cid] %>
							  <% end %>
						  </dd>
					  <% end %>
					</dl>
				</div>
			</div>
		</div>
	</div>
</div>
