<%= form_for @goal, url:{action: @goal.new_record? ? :create : :update}, html:{class: 'validate-forms cama_ajax_request'} do |f| %>
    <input id="plugins_contact_form_models_contact_form_site_id" type="hidden" name="plugins_contact_form_models_contact_form[site_id]" value="<%= current_site.id %>" />
    <%= f.hidden_field :id  %>
    <div class="panel-body">
        <div class="form-group">
          <%= f.label t('.name', default: 'Name') %><br>
          <%= f.text_field :name, :class => "form-control required" %>
        </div>
    </div>

    <div class="panel-footer">
      <button class="btn btn-primary pull-right" type="submit"><%= @goal.new_record? ? t('.submit_btn', default: 'Create goal') : t('.submit_btn', default: 'Save goal')%></button>
    </div>
<% end %>
